name: API Alive HealthCheck
on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:
jobs:
  alive:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Checking API Alive"
          curl -X https://chatbot-purpuria.onrender.com/alive